/*UNIVERSIAL STYLES*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, sans-serif;
}

#wrapper {
    margin: 4% auto;
    width: 90%;
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
}

hr {
    margin: 1em auto 0;
}

/* Form Styles */
form {
    width: 65%;
    margin: 2em auto;
    padding: 1em;
    border: 1px solid #1c1a14;
    background-color: #f8fafd; 
}

label {
    display: block;
    margin: 0.25em 0;
}

input[type=submit],
button[type=submit] {
    display: block;
    width: auto;
    height: auto;
    margin: 2em auto 0;
    padding: 0.33em;
    border-radius: 5px;
    border-width: thin;
    font-weight: 600;
    font-family: 'IBM Plex Mono', monospace;
}

#clear { /* reset button */
    padding: 2px;
    font-weight: 600;
    font-family: 'IBM Plex Mono', monospace;
}

input[type=text] {
    padding-left: .25em;
    
}

/* Results */
#results {
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;

  text-align: center;

  border: 2px solid #ccc;
  border-radius: 12px;

  background-color: #f9f9f9;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  font-family: Arial, sans-serif;
}

#results h2 {
  margin-bottom: 15px;
}

#results p {
  margin: 10px 0;
  font-size: 18px;
}

#alert, .alert {
    color: rgb(235, 58, 93);
    font-size: .85em;
    font-style: italic;
    margin-left: 2%;
}

@media screen and (max-width: 800px) {
    
    #wrapper {
        margin: 2% auto;
        width: 100%;
    }

    form {
        width: 95%;
        margin: 1em auto;
        padding: .5em;
}

}